/* Reset de estilos para eliminar márgenes y rellenos predeterminados */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilos generales del cuerpo del documento */
body {
    font-family: -apple-system;
    font-weight: bold;
    background-color: white;
    color: white;
    font-size: 12px;
}

#encabezado {
    background-color: #000;
}

#logo-eslogan {
    display: flex;
    align-items: center;
}

#logo img {
    width: 250px;
    height: 250px;
}

.navbar {
    background-color: #000;
    transition: background-color 0.3s; /* Transición para el color de fondo */
}

.navbar a {
    color: #fff !important;
    transition: color 0.3s; /* Transición para el color del texto */
}

/* Agrega un efecto de transición al pasar el ratón sobre la barra de navegación */
.navbar:hover {
    background-color: #333; /* Color de fondo al pasar el ratón */
}

/* Estilos para el contenedor principal */
#contenedor {
    width: 80%;
    margin: 20px auto;
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    border: 3px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

label {
    display: block;
    margin-bottom: 5px;
    padding: 5px;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid white;
    font-weight: bold;
    border-radius: 8px;
}

/* Estilos para el pie de página */
#pie {
    clear: both;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
    background-color: white;
    border: 3px solid black;
    color: black;
    border-radius: 8px;
}

/* Estilos para los botones */
button {
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

button:hover {
    background-color: white;
    color: black;
}
